**/nvim/plugged
neovim/.config/nvim/.netrwhist
neovim/.config/nvim/undodir
suckless/dwm-6.2-bak/
dotconfig/.config/pulse/
emacs/.config/emacs/history
emacs/.config/emacs/recentf
emacs/.config/emacs/eln-cache/
emacs/.config/emacs/ido*
emacs/.config/emacs/places
emacs/.config/emacs/transient
emacs/.config/emacs/eshell
emacs/.config/emacs/auto-save-list/
emacs/.config/emacs/elpa
emacs/.config/emacs/.lsp-session-v1
emacs/.config/emacs/.cache
emacs/.config/emacs/elpa/**
emacs/.config/emacs/var/
emacs/.config/emacs/.emacs.d/
emacs/.config/emacs/.dap-breakpoints
emacs/.config/emacs/.last-package-update-day
